html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    background: rgba(33, 37, 41, 0.8673844537815126);
}

/* map page css start here */

#mainDiv {
    width: 100%;
    overflow: hidden;
    display: -webkit-flex;
    display: flex;
    margin-top: 100px;
    padding: 30px;
    color: white;
    display: flex;
}

#map {
    height: 77vh;
    flex: 75%;
    float: left;
    color: black;
    border-style: double
}

#playerList {
    float: left;
    padding: 0 20px;
    flex: 25%;
    border: 5px solid black;
}

#playerList h2 {
    font-size: 1.5rem;
}

/* admin page css start here */

#adminMainDiv {
    display: flex;
    margin-top: 100px;
}

#adminMainDiv #formDiv {
    flex: 30%;
}

/* css for the form */

#adminMainDiv #formDiv form {
    background: linear-gradient(180deg, rgba(33, 37, 41, 1) 0%, rgba(33, 37, 41, 0.8673844537815126) 66%, rgba(0, 15, 31, 0.7469362745098039) 100%);
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 25px;
    box-sizing: border-box;
    color: white;
    height: 100%;
    position: fixed;
}

/* css for the input */

#adminMainDiv #formDiv form input {
    color: white;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    height: 40px;
    font-size: 18px;
    padding-left: 13px;
}

#adminMainDiv #tableDiv {
    flex: 70%;
}

/* css for the submit button */

#adminSubmitButton {
    background: black;
    color: #fff;
    border: none;
    position: relative;
    height: 60px;
    font-size: 1.6em;
    padding: 0 2em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
    margin-top: 25px;
}

#adminSubmitButton:hover {
    background: white;
    color: black;
}

#adminSubmitButton:before, #adminSubmitButton:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: white;
    transition: 400ms ease all;
}

#adminSubmitButton:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

#adminSubmitButton:hover:before, #adminSubmitButton:hover:after {
    width: 100%;
    transition: 800ms ease all;
}

/* this is the css for delete button */

#deleteButton {
    background: black;
    color: #fff;
    border: none;
    position: relative;
    height: 40px;
    font-size: 1.1em;
    padding: 0 1em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
    margin-top: 35px;
}

#deleteButton:hover {
    background: rgba(255, 0, 0, 0.5);
    color: black;
}

#deleteButton:before, #deleteButton:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: red;
    transition: 400ms ease all;
}

#deleteButton:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

#deleteButton:hover:before, #deleteButton:hover:after {
    width: 100%;
    transition: 800ms ease all;
}

/* css for all image */

img {
    height: 130px;
    width: 300px;
}

#autoFill {
    background: rgba(33, 37, 41, 0.8673844537815126);
    border: none;
}