/* .nav-title {
  font-size: 24px;
  font-weight: 700;
  display: inline-block;
  color: #f2f2f2;
  padding-left: 10px;
}

.nav-link {
  float: left;
  color: #f2f2f2;
  background-color: #00acb0;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;
 
  border: none;
  cursor: pointer;
  outline: 0;
}

.nav-link:hover {
  background-color: #008183;
}

.nav-right {
  float: right;
} */

@import url('https://fonts.googleapis.com/css?family=Germania+One');
h1 {
  font-family: 'Germania One', cursive;
  color: rgb(97, 109, 148)
}

#logo {
  padding-top: 10px;
  padding-left: 20px;
  text-decoration: none;
}

.nav {
  overflow: hidden;
  background: rgb(52, 53, 55);
  background: linear-gradient(131deg, rgba(52, 53, 55, 1) 0%, rgba(73, 102, 131, 0.8673844537815126) 66%, rgba(6, 24, 43, 0.7469362745098039) 100%);
  position: fixed;
  width: 100%;
  z-index: 1;
  height: 76px;
  top: 0;
}

#logo {
  flex: 30%
}

.tabs {
  font-size: 15px;
  padding: 0px;
  list-style: none;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  display: inline-block;
  position: relative;
  flex: 70%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 50px;
}

.tabs a {
  text-decoration: none;
  color: white !important;
  text-transform: uppercase;
  padding: 10px 20px;
  display: inline-block;
  position: relative;
  z-index: 1;
  transition-duration: 0.6s;
}

.tabs a.active {
  color: #fff;
}

/* .tabs .selector {
  height: 100%;
  display: inline-block;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(33, 37, 41, 0.8673844537815126) 66%, rgba(0, 15, 31, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05abe0', endColorstr='#8200f4', GradientType=1);
} */

.tabs .selector {
  height: 100%;
  display: inline-block;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  border-radius: 50px;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(33, 37, 41, 0.8673844537815126) 66%, rgba(0, 15, 31, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05abe0', endColorstr='#8200f4', GradientType=1);
}